{% load static %}

<!--导入Bootstrap5-->
<link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.css' %}">

<!--导入Bootstrap的图标库-->
<link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">

<!--导入sweetalert，一个漂亮的alert插件-->
<link rel="stylesheet" href="{% static 'sweetalert/sweetalert2.css' %}">

<!--导入mc-calendar，一个漂亮的日期插件-->
<link rel="stylesheet" href="{% static 'mc_calendar/mc-calendar.min.css' %}">

<!--一个日期时间插件，该插件依赖于jquery-->
<link rel="stylesheet" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}">

<!--一个特别好用的图标图-->
<link rel="stylesheet" href="{% static 'fontawesome4/css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome6/css/all.css' %}">

<!--一个好用的select插件-->
<link rel="stylesheet" href="{% static 'select2-bootstrap/css/select2.min.css' %}">
<!--这个是针对bootstrap4的-->
{% comment %}<link rel="stylesheet" href="{% static 'select2-bootstrap/bootstrap/select2-bootstrap4.min.css' %}">{% endcomment %}
<!--这个是针对bootstrap5的-->
<link rel="stylesheet" href="{% static 'select2-bootstrap/bootstrap/select2-bootstrap-5-theme.min.css' %}">

<!--一个好用的时间插件，结合后端的form配置，可以很灵活的进行配置-->
<link rel="stylesheet" href="/static/flatpickr/flatpickr.min.css">
<link rel="stylesheet" href="/static/flatpickr/themes/material_red.css">

