{% load static %}

<!--导入jquery-->
<script type="text/javascript" src="{% static 'jquery/jquery3.6.js' %}"></script>

{% comment %}<!--导入Bootstrap3-->
<script type="text/javascript" src="{% static 'bootstrap3/bootstrap.js' %}"></script>

<!--导入Bootstrap4-->
<script type="text/javascript" src="{% static 'bootstrap4/bootstrap.bundle.js' %}"></script>{% endcomment %}

<!--导入Bootstrap5-->
<script type="text/javascript" src="{% static 'bootstrap5/bootstrap.bundle.js' %}"></script>

{% comment %}<script type="text/javascript" src="{% static 'mdb/mdb.min.js' %}"></script>{% endcomment %}

<!--导入sweetalert，一个漂亮的alert插件-->
<script type="text/javascript" src="{% static 'sweetalert/sweetalert2.all.js' %}"></script>

<!--导入mc-calendar，一个漂亮的日期插件-->
<script type="text/javascript" src="{% static 'mc_calendar/mc-calendar.min.js' %}"></script>

<!--一个日期时间插件，该插件依赖于jquery-->
<script type="text/javascript" src="{% static 'datetimepicker/jquery.datetimepicker.js' %}"></script>


<script type="text/javascript" src="{% static 'echarts/main.js' %}"></script>

<!--一个好用的select插件-->
<script type="text/javascript" src="{% static 'select2-bootstrap/js/select2.full.js' %}"></script>

